name: Pull Request Check

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  # Убедитесь, что requirements.txt находится в корне репозитория

      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 .

      - name: Test with Django test
        run: |
          python manage.py test

      - name: Check migrations
        run: |
          python manage.py makemigrations --check --dry-run

      - name: Code coverage
        run: |
          pip install coverage
          coverage run --source='.' manage.py test
          coverage report --fail-under=80
