{% extends "WetCar/base.html" %}

{% load static %}  <!-- Добавьте этот тег для загрузки статических файлов -->

{% block title %}Головна{% endblock %}

{% block content %}

<style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: url("{% static 'WetCar/images/v6_3.png' %}") no-repeat center center fixed;
      background-size: cover;
      color: white;
  }
</style>

<!-- Форма бронирования -->
<div id="booking-form-section" class="booking-form">
    <h2>Забронюйте послугу</h2>
    <form action="{% url 'booking' %}" method="post" id="booking-form" onsubmit="showConfirmation(event)">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-field {% if field.errors %}error{% endif %}">
            {{ field }}

            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit">Забронювати</button>
    </form>
</div>

<!-- The confirmation message -->
{% if confirmation_message %}
<div id="confirmation-message"
     style="display: block; color: white; text-align: center; font-size: 20px; background-color: rgba(0, 0, 0, 0.7); padding: 20px; border-radius: 10px;">
    {{ confirmation_message }}
</div>
<script>
    // Блокируем форму при отправке
    document.getElementById('booking-form').querySelectorAll('input, select, button').forEach(function(element) {
        element.disabled = true;
    });

    // Через 3 секунды скрываем сообщение и выполняем редирект
    setTimeout(function() {
        document.getElementById('confirmation-message').style.display = 'none';
        window.location.href = "{% url redirect_url %}";  // Редирект на указанную страницу
    }, 3000);  // 3000 миллисекунд = 3 секунды
</script>
{% endif %}



{% if form %}
<p>Форма отображается правильно</p>
{% else %}
<p>Форма не передана или есть проблема с рендерингом.</p>
{% endif %}

{% endblock %}
